<div class="row">
<div class="category">
    <div class="category-symbol">HTML</div>
    <h3 class="category-title">HTML</h3>
  </div>
  
  <div class="category">
    <div class="category-symbol">CSS</div>
    <h3 class="category-title">CSS</h3>
  </div>
  
  <div class="category">
    <div class="category-symbol">JavaScript</div>
    <h3 class="category-title">JavaScript</h3>
  </div>
  <div class="category">
    <div class="category-symbol">Ruby</div>
    <h3 class="category-title">Ruby</h3>
  </div>
  <div class="category">
    <div class="category-symbol">C</div>
    <h3 class="category-title">C</h3>
  </div>
  <div class="category">
    <div class="category-symbol">C++</div>
    <h3 class="category-title">C++</h3>
  </div>
  </div>
  <div class="row">
    <div class="category">
        <div class="category-symbol">Python</div>
        <h3 class="category-title">Python</h3>
      </div>
      
      <div class="category">
        <div class="category-symbol">A.NET</div>
        <h3 class="category-title">A.NET</h3>
      </div>
      
      <div class="category">
        <div class="category-symbol">JavaScript</div>
        <h3 class="category-title">JavaScript</h3>
      </div>
      <div class="category">
        <div class="category-symbol">Ruby</div>
        <h3 class="category-title">Ruby</h3>
      </div>
      <div class="category">
        <div class="category-symbol">C</div>
        <h3 class="category-title">C</h3>
      </div>
      <div class="category">
        <div class="category-symbol">C++</div>
        <h3 class="category-title">C++</h3>
      </div>
      </div>
      <div class="row">
        <div class="category">
            <div class="category-symbol">Python</div>
            <h3 class="category-title">Python</h3>
          </div>
          
          <div class="category">
            <div class="category-symbol">A.NET</div>
            <h3 class="category-title">A.NET</h3>
          </div>
          
          <div class="category">
            <div class="category-symbol">JavaScript</div>
            <h3 class="category-title">JavaScript</h3>
          </div>
          <div class="category">
            <div class="category-symbol">Ruby</div>
            <h3 class="category-title">Ruby</h3>
          </div>
          <div class="category">
            <div class="category-symbol">C</div>
            <h3 class="category-title">C</h3>
          </div>
          <div class="category">
            <div class="category-symbol">C++</div>
            <h3 class="category-title">C++</h3>
          </div>
          </div>
          <div class="row">
            <div class="category">
                <div class="category-symbol">Python</div>
                <h3 class="category-title">Python</h3>
              </div>
              
              <div class="category">
                <div class="category-symbol">A.NET</div>
                <h3 class="category-title">A.NET</h3>
              </div>
              
              <div class="category">
                <div class="category-symbol">JavaScript</div>
                <h3 class="category-title">JavaScript</h3>
              </div>
              <div class="category">
                <div class="category-symbol">Ruby</div>
                <h3 class="category-title">Ruby</h3>
              </div>
              <div class="category">
                <div class="category-symbol">C</div>
                <h3 class="category-title">C</h3>
              </div>
              <div class="category">
                <div class="category-symbol">C++</div>
                <h3 class="category-title">C++</h3>
              </div>
              </div>