<nav>
  <ul class="header__menu">
    <li>
      <a routerLink="/lifeCycle" routerLinkActive="active" class="header__link">
        <span class="header__badge exclusive">Life Cycle Hooks</span>
      </a>
    <li>
      <a routerLink="/exclusive" routerLinkActive="active" class="header__link">
        <span class="header__badge exclusive">Exclusive</span>
      </a>
    </li>
    <li>
      <a routerLink="/semi-exclusive" routerLinkActive="active" class="header__link">
        <span class="header__badge semi-exclusive">Semi-Exclusive</span>
      </a>
    </li>
    <li>
      <a routerLink="/no-exclusive" routerLinkActive="active" class="header__link">
        <span class="header__badge no-exclusive">No Exclusive</span>
      </a>
    </li>
    <li>
    <a routerLink="/dataTable" routerLinkActive="active" class="header__link">
      <span class="header__badge no-exclusive">Data Table</span>
    </a>
    </li>
  </ul>
<div class="login-container">
    <h2>Login</h2>
    <form [formGroup]="loginForm" autocomplete="off" (ngSubmit)="loginform()">
      <div class="form-group">
        <label for="email">Email:</label>
        <input formControlName="email" autocomplete="new-email" type="email" id="email" name="email"  >
      </div>
      
      <div class="form-group">
        <label for="password">Password:</label>
        <input formControlName="password" autocomplete="new-password" type="password" id="password" name="password" >
      </div>
      
      <button (click)="goToHome()" type="submit">Login</button>
      <div [routerLink]="['/register/Register']" class="sign">Not Yet Registered ? click here to Signup</div>
    </form>
  </div>
  