<div class="row">
<div class="product">
    <div class="product-image"></div>
    <h3 class="product-title">Product Name</h3>
    <p class="product-description">Product description goes here.</p>
    <p class="product-price">$19.99</p>
    <button class="product-button">Add to Cart</button>
  </div>
  <div class="product">
    <div class="product-image"></div>
    <h3 class="product-title">Product Name</h3>
    <p class="product-description">Product description goes here.</p>
    <p class="product-price">$19.99</p>
    <button class="product-button">Add to Cart</button>
  </div>
  <div class="product">
    <div class="product-image"></div>
    <h3 class="product-title">Product Name</h3>
    <p class="product-description">Product description goes here.</p>
    <p class="product-price">$19.99</p>
    <button class="product-button">Add to Cart</button>
  </div>
  <div class="product">
    <div class="product-image"></div>
    <h3 class="product-title">Product Name</h3>
    <p class="product-description">Product description goes here.</p>
    <p class="product-price">$19.99</p>
    <button class="product-button">Add to Cart</button>
  </div>
  </div>